.bio {
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
}
.background {
  background: linear-gradient(180deg, rgba(255,243,210,1) 0%, rgba(193,221,255,1) 70%, rgba(193,221,255,0) 70%);
  padding: 20px;
}
.image {
  position: absolute;
  width: 50%;
  max-height: 340px;
}

.avatar {
  border-radius: 50%;
  max-width: 200px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

mat-card {
  border-radius: 10px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
  padding: 15px;
}